{% macro with_errors(field) %}
    <div class="form_field">
    {% if field.errors %}
        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
        <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
    </div>
{% endmacro %}

<h1>MetaMOOC v0.1</h1>
Enter the relative importance of:
<form method="POST" action="/">
    <table>
    {% for field in form %}
    <tr>
        <th>{{ field.label }}:</th>
        <td>{{ with_errors(field) }}</td>
    </tr>
    {% endfor %}
    </table>
    <input type=submit value=Recommend>
</form>
Enter negative numbers if you desire the opposite.
